---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import BotonesSocial from '../components/BotonesSocial.astro';
import Experiencia from '../components/Experiencia.astro';
import Proyectos from '../components/Proyectos.astro';
---

<Layout title="Rubén López - Desarrollador Full-Stack">
	<main class="flex flex-col gap-6">
		<Intro />
		<BotonesSocial />
		<hr class="border border-dotted mt-4 mb-16 border-gray-300 dark:border-gray-600 rounded-md">
		<div class="flex flex-col gap-20">
			<Experiencia />
			<Proyectos />
		</div>
	</main>
</Layout>
