---
import BotonesSocial from '../components/BotonesSocial.astro';
import Experiencia from '../components/Experiencia.astro';
import Footer from '../components/Footer.astro';
import Intro from '../components/Intro.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rubén López - Desarrollador Full-Stack">
	<main class="flex flex-col gap-7">
		<Intro />
		<BotonesSocial />
		<hr class="border border-dotted my-10 border-gray-300 dark:border-gray-600 rounded-md">
		<Experiencia />
		<Footer />
	</main>
</Layout>
