---
import Work from '../icons/Work.astro';
---

<section class="flex flex-col gap-6 experiencia">
    <header class="flex items-center sm:text-4xl text-3xl font-semibold gap-3 sm:justify-normal justify-center">
        <Work class="size-8 opacity-80" color="#fff"/>
        <h1>Experiencia laboral</h1>
    </header>
    <article class="flex flex-col gap-6 m-2">
        <div>
            <h2 class="text-2xl text-orange-300">Desarrollador Full-Stack</h2>
            <h3 class="text-xl">Findertel SL</h3>
            <h4 class="opacity-60"><time datetime="2023-02-01">Febrero 2023</time> - <time datetime="2024-04-30">Abril 2024</time></h4>
        </div>
        <div class="">
            <ul class="list-disc flex flex-col gap-6 ml-5 opacity-90 text-md text-slate-700 dark:text-slate-100">
                <li>Me dediqué al desarrollo y mantenimiento de <span class="text-orange-200">páginas web, aplicaciones y bases de datos</span> para todo tipo de empresas. </li>
                <li>Me involucré en el <a class="hover:text-white/50 dark:text-white transition" href="https://realiz3d.odnoslab.com/" target="_blank">desarrollo de un proyecto</a> en <span class="text-orange-200">WebGL usando threejs</span> donde los clientes podían personalizar ropa y otros objetos. Arreglé errores y añadí funcionalidades nuevas, además de actualizar el Back-end.</li>
                <li>Usé <span class="text-orange-200">WordPress</span> para hacer el Front-end de la página web de <a class="hover:text-white/50 dark:text-white transition" href="https://www.finquesmigdia.es/es/" target="_blank">una agencia inmobiliaria</a>.</li>
            </ul>
        </div>
    </article>
</section>

<style>
    .experiencia a{
        text-decoration: underline;
    }
</style>