<section class="py-3 mt-14 flex flex-col items-center sm:flex-row gap-6">
    <div class="relative">
        <img class="rounded-full w-52 border-4 border-white dark:border-gray-950 shadow-lg overflow-hidden" src="/Ruby.avif" alt="foto Rubén">
    </div>
    <div class="flex flex-col gap-5">
        <div class="flex flex-col items-center sm:items-start">
            <h1 class="text-5xl sm:text-4xl font-bold">
                Rubén López 
            </h1>
            <div class="flex gap-2 items-center">
                <img class="size-6" alt="Bandera de España" src="/spain_flag.png">
                <h2 class="text-slate-700 text-sm dark:text-slate-300 max-w-xl">
                    Girona, España
                </h2>
            </div>
        </div>
        <h2 class="text-slate-700 text-sm sm:text-lg dark:text-slate-300 max-w-xl sm:text-left text-center">
            Soy un <span class="text-orange-300">Desarrollador Full-Stack</span> y <span class="text-blue-400">Desarrollador de Videojuegos</span> polifacético y apasionado que disfruta de crear todo tipo de aplicaciones y páginas web.
        </h2>
    </div>
    
</section>