---
import CodeIcono from '../icons/CodeIcono.astro';
---

<section class="flex flex-col gap-6">
    <header class="flex items-center text-4xl font-semibold gap-3 sm:justify-normal justify-center">
        <CodeIcono class="size-9 opacity-80" color="#fff"/>
        <h1>Proyectos</h1>
    </header>
    <article class="flex flex-col gap-4">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam incidunt perferendis nesciunt dolore saepe libero nobis. Velit nam similique earum. Fugit cumque quod sunt officiis vitae expedita alias temporibus culpa.
        </p>
    </article>
</section>